:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

    /* Custome color  */
    --red-color: #cd2027;
    --background-color: #fcfcfc;
}

body {
    color: var(--text-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

.fixed-content {
    width: 960px;
}

.container {
    background-color: var(--background-color);
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar__logo-img {
    width: 42px;
}

.navbar__logo-title {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--red-color);
}

.navbar__slogan {
    color: #c0c0c0;
    font-size: 1.6rem;
    margin-left: 10px;
}

.navbar__contact {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--red-color);
}

.app-content {
    padding: 10px 0;
}

.separate-line {
    margin: 0;
}

.content__intro {
    padding: 40px 30px 55px;
}

.content__intro-title {
    font-size: 3.2rem;
}

.content__intro-desc {
    font-size: 1.4rem;
    color: #666;
    margin: 20px 0;
}

.content__intro-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__intro-img {
    display: flex;
    align-items: center;
    position: relative;
}

.content__intro-img img {
    width: 100%;
    height: 100%;
    border: 5px solid #f5f5f5;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #e4e4e4;
    border-radius: 9999px;
    background-color: #585858;
    cursor: pointer;
    z-index: 1;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #e4e4e4;
    border-radius: 9999px;
    background-color: #585858;
    cursor: pointer;
    z-index: 1;
}

.content__intro-img-shadow {
    width: 50%;
    height: 1%;
    border-radius: 100%;
    box-shadow: 0 18px 14px black;
    text-align: center;
}

.content__btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-item {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 6px 28px;
    border: 5px solid #f5f5f5;
    border-radius: 80px/80px;
}

.btn-purchase {
    /* background-color: #ff6e00; */
    background-image: linear-gradient(
        rgba(253, 169, 44, 255),
        rgba(255, 84, 0, 255)
    );
    color: #ca4500;
}

.btn-taketour {
    /* background-color: #ececec; */
    background-image: linear-gradient(white, rgba(53, 51, 51, 0.089));
    color: #838383;
}

.content__or {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 20px;
}

.content__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px 30px;
}

.content__about-item {
    display: flex;
}

.content__about-img {
    width: 64px;
    height: 52px;
}

.content__about-desc {
    margin-left: 16px;
    margin-right: 16px;
}

.content__about-heading {
    font-size: 1.8rem;
    font-weight: 650;
}

.content__about-desc p,
.content__features-desc p {
    font-size: 1.4rem;
}

.content__features {
    display: flex;
    align-items: center;
    padding: 36px 30px;
}

.content__title {
    font-size: 1.8rem;
    font-weight: 650;
    margin-bottom: 24px;
}

.content__features-link {
    margin-top: 24px;
}

.content__features-list {
    list-style: none;
}

.content__features-item-title {
    font-size: 1.4rem;
    color: #e0986d;
    margin-left: 10px;
}

.link-icon {
    font-size: 1.2rem;
}

.content__screenshots {
    display: flex;
    justify-content: space-between;
    padding: 36px 30px 64px;
}

.content__screenshots img {
    width: 100%;
    height: 100%;
    border: 5px solid #f5f5f5;
}

.content__feedback {
    padding: 36px 30px 24px;
}

.content__feedback-quotes {
    position: relative;
    font-size: 1.9rem;
    font-style: italic;
    text-align: center;
    color: #8c8c8c;
    border: 1px solid #e3e3e3;
    padding: 26px 0 36px;
}

.content__feedback-quotes::before {
    content: "";
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent #e3e3e3 transparent;
    position: absolute;
    left: 24px;
    bottom: -14px;
    rotate: 45deg;
}

.content__feedback-quotes::after {
    content: "";
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    left: 22px;
    bottom: -10px;
    rotate: 45deg;
}

.content__feedback-name {
    color: #8c8c8c;
    font-size: 1.4rem;
    margin: 20px 0 24px 50px;
}

.content__feedback-name span {
    font-style: italic;
    color: #bebebe;
}

.footer {
    padding-bottom: 10px;
}

.footer__contact {
    background-color: #3b3b3b;
    padding: 24px 20px 20px;
}

.footer__contact-heading {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ccc;
    margin-bottom: 20px;
}

.footer__contact-desc {
    font-size: 1.4rem;
    color: #818181;
}

.footer__payment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__payment-img {
    width: 38px;
}

.footer__payment-img + .footer__payment-img {
    margin-left: 10px;
}

.footer__logo {
    display: flex;
    align-items: start;
    padding-left: 70px;
}

.footer__logo-shadow {
    width: 50%;
    height: 1%;
    border-radius: 100%;
    box-shadow: 0 18px 9px black;
    margin-left: 80px;
}

.footer__logo a {
    display: flex;
    align-items: center;
}

.footer__logo-img {
    width: 42px;
}

.footer__logo-title {
    font-size: 2.6rem;
    font-weight: 600;
    color: #959595;
    margin-left: 6px;
}

.footer__bottom {
    padding: 24px 20px 28px;
    background-color: #222222;
}

.footer__copyright {
    font-size: 1.4rem;
    color: #818181;
}

.footer__copyright a {
    font-style: italic;
    color: #dd8c5c;
}

.footer__socials {
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer__social-icon {
    font-size: 1.8rem;
    color: #818181;
    margin-left: 15px;
}
